<ion-header>

  <ion-navbar color="dog">
    <ion-title>Selamat Datang</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
          <img src="assets/imgs/dogu.png" class="dogu"/>
    
  </ion-grid>
  
	<div class="login">
	<ion-item >
	<ion-input type="text" placeholder="Email" [(ngModel)]="input.email"></ion-input>

</ion-item>
<ion-item>
	<ion-input type="password" placeholder="Kata Laluan" [(ngModel)]="input.password"></ion-input>
	</ion-item>
</div>
<button ion-button class='button' round block color="danger" (click)="loginUser()">Daftar Masuk</button>


</ion-content>
