<!--
  Generated template for the MylicensePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Lesen Saya</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
	<div class="first-row">
		<div class="acc-img circle">
			<!-- <img class="camera-plus" src="assets/imgs/logo.png" *ngIf={{image}}>
 -->			
 		<img (click)="openCamera()" class="camera-plus" src="assets/imgs/profile.png" *ngIf="!image">
			<img (click)="openCamera()" class="camera-plus" src="{{image}}" *ngIf="image">
 		<!-- <img class="camera-plus" src="{{image}}"> -->
		</div>
		<!-- <div class="acc-name">
			<p>{{user?.first_name}}</p>
		</div> -->
	</div>
	<div class="second-row">
		<ion-item>
		  <ion-label>Nombor Siri Lesen :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Nama :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Tarikh Memohon :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Tarikh Tamat :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Tempoh Untuk Memperbaharui lesen :
		  </ion-label>
		</ion-item>
	</div>
	<button ion-button class='button' round block color="danger">Ingatkan Saya</button>

</ion-content>
