<!--
  Generated template for the MylicensePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Pembayaran</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
	<div class="second-row">
		<ion-item>
		  <ion-label>Jumlah :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Nama :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Tarikh Pembayaran :
		  </ion-label>
		</ion-item>
		<ion-item>
		  <ion-label>Akaun :
		  </ion-label>
		</ion-item>
	</div>
	<button ion-button class='button' round block color="danger">Bayar Sekarang</button>

</ion-content>
