<ion-header>

  <ion-navbar color="dog">
    <ion-title>Daftar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
    <ion-item>
      <ion-input type="text" [(ngModel)]="input.fullName" name="fullName" placeholder ="Nama Penuh" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="number" [(ngModel)]="input.identityCard" name="identityCard" placeholder ="No Kad Pengenalan"></ion-input>
    </ion-item>



    <ion-item>
      <ion-input type="number" [(ngModel)]="input.phoneNumber" name="phoneNumber" placeholder ="Nombor Telepon/HP"></ion-input>
    </ion-item>

    

  <ion-item>
    <ion-input type="email" [(ngModel)]="input.email" name="email" placeholder ="Email" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" [(ngModel)]="input.tax" name="tax" placeholder ="No Cukai Pintu" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="input.address" name="address" placeholder ="Alamat Surat Menyurat" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="input.city" name="city" placeholder ="Bandar" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" [(ngModel)]="input.postcode" name="postcode" placeholder ="Poskod" >
    </ion-input>
  </ion-item>
   
   

  <ion-item>
    <ion-input type="password" [(ngModel)]="input.password" placeholder ="Kata Laluan">
    </ion-input> 
  </ion-item>

  
    
      <button ion-button class='button' round block color="danger" (click)="registerForm()">Sign Up</button>
      
    

</ion-content>
<ion-footer padding no-border>
  <div style="text-align: center;font-size: 10px;font-family: 'Montserrat-Light';">
    <span style="color: #000000;"> By signing up, you attest that you are at least 18 years old and have read our </span><a style="color: black;text-decoration: underline;" (click)="inAppButtonClick()"><b>Terms & Conditions.</b></a>
  </div>
</ion-footer>
