page-register {
	.main {
	background:linear-gradient(	#FFFFFF, #FFFF33);
	color: white;


}
	.button-register{
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}


	.item-input{
	  font-family: "Montserrat-Light" !important;
	  padding: 10px;
	  font-size: 15px;
	}

	#reminder{
		font-family: "Montserrat-Light" !important;
		font-size: 10px;
		text-align: left;
		color: black;
		padding-left: 10px;
	}

	.item-inner {
	    border-bottom: 1.5px solid #000000 !important;
	}
	.button-register > div{
	    border-radius: 50px 50px;
	    width: 100%;
	    padding: 2px 2px 2px 2px;
	    background-image: url("../assets/imgs/gradient-180.png");
	    background-size: inherit;
	}
	.button-register > div > button{
		font-size: 16px;
		font-weight: bold;
	    border-radius: 50px 50px;
		background-color: white;
		width: 100%;
		height: 40px;
	}

	.bar-button-default > .button-inner{

		background-image: url("../assets/icon/back-icon.png") !important;
		background-repeat: no-repeat;
		margin: 8px 0 0;
    	min-width: 15px;
	}

	.bar-button-default > .button-inner > ion-icon{
		display:none;
	}

	.back-button-text {
    display: none;
    -webkit-box-align: center;
    align-items: center;
	}	

	.btn-main-container > div > button[disabled]{
	    color: grey;
	    opacity: 100.0;
	}

	 /*ANDROID CSS*/

	.toolbar-title-md{margin-right: 50px;}

}
