<!--
  Generated template for the FeedbackListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Senarai Aduan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item class="spinnerCenter" *ngIf="feedbacks === undefined">
        <ion-spinner name="dots"></ion-spinner>
    </ion-item>
    <ion-item *ngFor="let feedback of feedbacks">
      <small>{{ feedback["created_at"] }}</small>
      <div class="wrap-text">{{ feedback["notes"] }}</div>
      <ion-badge item-end>{{ feedback["status"] }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
