<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Status Permohonan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<ion-item>
  <h4 text-wrap>Permohonan pembahruan lesen pada 20 Feb 2018 diluluskan.</h4>
  <p>25 Feb 2018</p>
  
    </ion-item>
<p style="color: #ECE8E7"></p>

</ion-content>
