page-lesen-status {
body, html {
    height: 100%;
}

.bg { 
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
