<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Peringatan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
  <h4 text-wrap>Lesen bagi haiwan peliharaan anda sudah tamat pada 20 Feb 2018</h4>
  <p>25 Feb 2018</p>
  
    </ion-item>
<p style="color: #ECE8E7"></p>


    <ion-item>
  <h4 text-wrap>Kompaun pada 15 Jan 2018 belum dijelaskan</h4>
  <p>19 May 2018</p>
  </ion-item>
<p style="color: #ECE8E7"></p>

</ion-content>
