<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Aduan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Lokasi
      <button ion-button item-end (click)="getCurrentLocation()">
        <span *ngIf="!isLocating">Dapatkan Lokasi</span>
        <ion-spinner *ngIf="isLocating" name="dots"></ion-spinner>
      </button>
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Koordinat</ion-label>
      <ion-input type="text" value="{{ getCoordinate() }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nama Tempat</ion-label>
      <ion-textarea type="text" value="{{ address }}" rows="5" readonly></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Daerah</ion-label>
      <ion-input type="text" value="{{ district }}" readonly></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Catatan
    </ion-list-header>
    <ion-item>
      <ion-textarea placeholder="Taip di sini" rows="5" [(ngModel)]="notes"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Lampiran
      <button ion-button item-end (click)="getCurrentLocation()">Muat Naik</button>
    </ion-list-header>
    <ion-item>
      img-10213213-ass.jpg
      <button ion-button outline item-end color="dark">x</button>
    </ion-item>
  </ion-list>

  <div>
    <button ion-button color="primary" block (click)="submit()">Hantar Aduan</button>
  </div>
</ion-content>
