<!--
  Generated template for the LoginRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Selamat Datang</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
          <img src="assets/imgs/dogu.png" class="dogu"/>
    
  </ion-grid>
	<ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/login.png" class="icon" (click)="login()" />
          <p style="color:red;">Masuk</p>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/sign up.png" class="icon" (click)="register()" />
          <p style="color:red;">Daftar</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
