<!--
  Generated template for the LesenSubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Kategori Lesen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="box">
	<button ion-button full color="danger" (click)="application()">Permohonan Baru</button>
	<button ion-button full color="danger"  (click)="renew()">Pembaharuan Lesen</button>
	<button ion-button full  color="danger" (click)="status()">Status</button>

</div>
</ion-content>
