<ion-header>
  <ion-navbar color="dog">
    <ion-title>
      Halaman Utama
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/lesen saya.png" class="icon2" (click)="myLicense()" />
          <p style="color:red;">Lesen Saya</p>
        </div>
      </ion-col>
      
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/aduan.png" class="icon" (click)="feedback()"/>
          <p style="color:red;">Aduan</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>

        <div style="text-align: center">
          <img src="assets/imgs/profile.png" class="icon" (click)="profile()" />
          <p style="color:red;">Profil</p>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/peringatan.png" class="icon" (click)="message()" />
          <p style="color:red;">Mesej & Peringatan</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/lesen.png" class="icon" (click)="sub()"/>
          <p style="color:red;">Pembaharuan Lesen</p>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center">
          <img src="assets/imgs/bil.png" class="icon" (click)="payPage()"/>
          <p style="color:red;">Bil & Bayaran</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
