<ion-header>

  <ion-navbar color="dog">
    <ion-title>Aduan</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col >
        <div style="text-align: center">
          <img src="assets/imgs/aduan baru.png" class="icon" (click)="submitNew()"/>
          <p style="color:red;">Baharu</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <div style="text-align: center">
          <img src="assets/imgs/aduan lama.png" class="icon" (click)="history()" />
          <p style="color:red;">Terdahulu</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
