<!--
  Generated template for the ApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Pembaharuan Lesen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
    <ion-item>

      <ion-input type="text" [(ngModel)]="input.premisAddress" name="premisAddress" placeholder ="Alamat premis " ></ion-input>

    </ion-item>

    <ion-item>

      <ion-input type="text" [(ngModel)]="input.city" name="city" placeholder ="Bandar"></ion-input>

    </ion-item>


    <ion-item>
  <ion-label>Daerah</ion-label>

  <ion-select [(ngModel)]="input.distreet" name="distreet">

    <ion-option value="spu">Seberang Prai Utara</ion-option>
    <ion-option value="spt">Seberang Prai Tengah</ion-option>
    <ion-option value="sps">Seberang Prai Selatan</ion-option>
  </ion-select>
</ion-item>




  <ion-item>
  <ion-label>Premis</ion-label>

  <ion-select [(ngModel)]="input.premisStatus" name="premisStatus">

    <ion-option value="sewa">Penyewa Premis</ion-option>
    <ion-option value="milik">Pemilik Premis</ion-option>
    </ion-select>
</ion-item>

  <ion-item>
  <ion-label>Jenis Premis</ion-label>

  <ion-select [(ngModel)]="input.premisType" name="premisType">
    <ion-option value="Teres">Teres</ion-option>
    <ion-option value="Berkembar">Berkembar</ion-option>
    <ion-option value="Banglo">Banglo</ion-option>
    <ion-option value="Kampung">Kampung</ion-option>Ladang / Kilang /Gudang
    <ion-option value="Ladang / Kilang /Gudang">Ladang / Kilang /Gudang</ion-option>
    </ion-select>
</ion-item>

  <ion-item>

    <ion-input type="number" [(ngModel)]="input.totalDog" name="totalDog" placeholder ="Bilangan Anjing" >

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Maklumat Anjing</ion-label>
  </ion-item>
  <ion-item>
      <ion-label>1-</ion-label>
      <ion-label>Jantina</ion-label>

      <ion-select [(ngModel)]="input.dogGender" name="dogGender">

    <ion-option value="J">Jantan</ion-option>
    <ion-option value="B">Betina</ion-option>
      </ion-select>
    <ion-input type=text placeholder="Warna">
    </ion-input>
  </ion-item>




  <ion-item>
    <ion-datetime [(ngModel)]="input.applicationDate" name="applicationDate" placeholder ="Tarikh">
    </ion-datetime> 
  </ion-item>

  
    
      <button ion-button class='button' color="danger"round block (click)="registerDog()">Selesai</button>

</ion-content>
