<!--
  Generated template for the DogsScannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dog">
    <ion-title>Aduan Baharu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Anjing Berdekatan
      <button ion-button outline item-end (click)="searchDogsNearby()" [disabled]="isSearching">
        <span *ngIf="!isSearching">Imbas Semula</span>
        <ion-spinner *ngIf="isSearching" name="dots"></ion-spinner>
      </button>
    </ion-list-header>
    <button ion-item (click)="newFeedback()">Anjing 1</button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Tiada dalam senarai?
    </ion-list-header>
    <button ion-item (click)="newFeedback()">Laporan Manual</button>
  </ion-list>
</ion-content>
